/*
Custom styles for how-many-rocks
*/

.popular-rocks > tbody > tr {
	line-height: 1.1 !important;
	font-size: 80%;
}

.uppercase {
	text-transform: uppercase;
}

.discovered-by {
	font-size: 40%;
	line-height: 0.2 !important;
}

.quote-person {
	font-weight: bold;
	font-style: italic;
}

html {
	font-family: "Courier", sans-serif !important;
}
.cover-background {
	height: 100% !important;
}

.how-many-rocks-color {
	background-color: #44E670 !important;
}

.how-many-rocks-text {
	color: #44E670;
}

.counter {
    width: 71px;
    height: 96px;
    overflow: hidden;
    background-color: white;
    display: inline-block;
}
.counter .bg {
    /*background: url('../bg.png') no-repeat;*/
    width: 71px;
    height: 96px;
    position: absolute;
    z-index: 100;
}